
.source-link,
.github-link {
  color: #009ae5 !important;
  font-weight: bold;
  border-bottom: thin solid;
  text-decoration: none;
}
.source-link:hover,
.github-link:hover {
  border-bottom-width: medium;
}
