.library{
   padding-top: 10px;
   padding-bottom: 20px;
   padding-left: 20px;
   /*background-color: #FFF6E8;*/
   background-color: #4d4d4d;
   /*color: #3F2700;*/
   color: black;
   font: 'Trebuchet MS';
   font-size: 16px;
   font-weight: bold;
   /*border-bottom: 1px solid #F4B4AA;*/
}

.library__title{
  font-size: 18px;
  /*color: #D02301;*/
  color: rgba(164, 135, 212, 1);
}
.library__value-title{
  color: #888;
  padding-right: 5px;
}
.library__value{
  padding-right: 20px;
}
.library__link{
  text-decoration: none;
  color: rgb(0, 154, 229);
  border-bottom: thin solid;
}
.library__link:hover{
  border-bottom-width: medium;
}
