.noscript__root{
  background-color: #4d4d4d;
  width: min(80%, 570px);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;  
  border-radius: 5px;
}

.noscript__header{
  background-color: #232f3b;
  height: 32px;
  padding: 8px 10px 0 10px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.noscript__caption{
  color: #80c040;
  font-size: 16px;
  font-weight: bold;
}

.noscript__msg{
  color: black;
  background-color: #ffc100;
  padding: 10px; 
  line-height: 1.25;
  font-weight: bold;
}

.noscript__link{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #1b75bb;
}
.noscript__link:hover{
  border-bottom: 3px solid #1b75bb;
}
.noscript__link:visited {
  color: #1b75bb;
}