
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", "Lato", sans-serif;
    font-weight: 300;
    background-color: gray;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
  outline: 0px none;
}
a:visited {
  /*color : #551a8b;*/
  color: gray;
}

button {
  appearance: none;
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*
button:focus {
  outline: 0;
}
*/
