
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: Roboto, Arial, Lato, sans-serif;
    font-weight: 300;
    background-color: gray;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
  outline: 0;
}
a:visited {
  /*color : #551a8b;*/
  color: gray;
}

button {
  appearance: none;
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  cursor: pointer;
}
button:focus,
button:hover {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
  outline: 0;
}
