.tab {
  display : inline-block;
  background-color : #232f3b;
  color : gray;
  padding: 6px 10px; 
  border: 2px solid gray;    
  border-top-left-radius : 8px;
  border-top-right-radius : 8px; 
  border-bottom : none;
  font-weight : bold;
  cursor : pointer;
}