.draggable-dialog:focus {
  outline: 0;
}

.dialog__menu-more {
  top: 30px;
  left: 4px;
  z-index: 10;
  text-align: left;
}

.row__pane-topic {
  line-height: 2.2;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  outline: none;
  user-select: none;
  cursor: pointer; }

.row__pane-topic:focus {
  border-bottom: 1px solid #1b75bb; }